@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1a1a1a;
}

@layer base {
  html {
    @apply h-full w-full overflow-auto;
  }

  body {
    @apply h-full w-full overflow-auto bg-background-1;
  }
}

/* Add custom animation styles if needed */
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}